/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(173, 181, 189, 0.8) !important;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #e9ecef;
  border-radius: 4px;
}

.scrollable {
  overflow: auto;
}
